@media all and (max-width:1582px) {
    
    .shoes_flex {
        justify-content: center;
    }
  }

  

  @media all and (max-width:960px) {
    

    .shoes_main {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }
    

    .container_header {
        flex-wrap: wrap;
        justify-content: center; 
        margin-bottom: 20px;
    }


  }

  @media all and (max-width:935px) {
    footer {
        flex-wrap: wrap; 
        justify-content: center;      
    }
    
    .social_network {
        justify-content: center;
    }
}

@media all and (max-width:865px) {
    .container_header {
        flex-wrap: wrap; 
        justify-content: center;      
    }
    body {
        padding-top: 150px;
    }
}